*{
margin: 0;
padding: 0 ; 
font-family:Georgia;
}
body{
width:100%;
height:100vh;
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://img.freepik.com/free-photo/truck-highway-road-with-red-container_42493-12.jpg?size=626&ext=jpg);
background-size:cover;
background-position:center;
box-sizing:border-box;
font-family:georgia; 
}
.menu-bar{
text-align:right;
opacity:0.8;
display:inline-bloclk;
}
.menu-bar ul{
display:inline-flex;
list-style:none;
color:white;
}
.menu-bar ul li{
width:100px;
padding:15px;
margin:10px;
display:inline-block;
}
.menu-bar ul li a{
border:1px solid transparent;
text-decoration:none;
color:#fff;
}
.menu-bar ul li:hover{
background:#000;
border-radius:10px;
}
